<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-text color="success">
		<h1><strong>Musikit</strong> v1.0.0</h1>
  </ion-text>
  
  <ion-list>
    <ion-item *ngFor="let i of image">
        <img src="{{ i.img }}" />
    </ion-item>
  </ion-list>
  
  
  <p>
    Este app tem a temática de músicas desenvolvido como uma prática de verificação de aprendizagem
    através da disciplina de programação para dispositivos móveis, onde, para solidificar os conceitos
    propostos foi proposta a utilização do framework Ionic com Angular e Typescript.
  </p>

</ion-content>
