<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div>
      <ion-title>Nova música para distribuir</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="form" (ngSubmit)="formSubmit()">
    <ion-input type="text" [(ngModel)]="formData.title" name="title" placeholder="Item" required><ion-icon name="pricetag"></ion-icon></ion-input>
    <ion-input type="text" [(ngModel)]="formData.value" name="value" placeholder="Valor em reais (não aceitamos centavos)" required><ion-icon name="information-circle"></ion-icon>R$</ion-input>
    <ion-input type='file' name="image" (change)="fileChangeLinstener($event)"></ion-input>

    <ion-button type="submit" class="submit-button" color="success" expand="block">Cadastrar</ion-button>
  </form>
</ion-content>
