<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Início</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Início</ion-title>
    </ion-toolbar>
  </ion-header>

	<ion-card color="success">
		<ion-card-header>
			<ion-card-subtitle>Bem vindo ao</ion-card-subtitle>
			<ion-card-title>Musikit</ion-card-title>
		</ion-card-header>
  </ion-card>
  
	<ion-text color="success">
		<h1>Divulgue suas músicas</h1>
  </ion-text>
  
  <p>
    Realize a distribuição de suas músicas através de nosso app, ganhe escala a partir do plano grátis.
  </p>
  <p>
    <a href="/contact">Mande uma mensagem</a> para a nossa equipe.
  </p>
</ion-content>
